details-container {
    padding: 20px;
  }
  
  .person {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    border: 1px solid rgb(255, 81, 0);
    padding: 30px;
    margin: 50px 0;
    max-width: 320px;
    
  }
  
  .person h2 {
    padding: 0;
    margin: 0;
  }
  
  dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  dl.address {
    background-color: #fcebc6;
    margin: 10px -20px 0 -20px;
    padding: 0 20px;
  }